.vscode/**
.vscode-test/**
.peridot/**
node_modules/**
out-test/**
test/**
src/**
webview/**
scripts/**
.gitignore
eslint.config.mjs
**/tsconfig*.json
esbuild.config.mjs
.todo-*.md
**/*.map
**/*.ts
!dist/**/*.js
!dist/**/*.css
!dist/**/*.js.map
*.vsix
package-lock.json
resources/bin-raw/**
